<!DOCTYPE html>
<html>
<head>
    <title>Polls</title>
</head>
<body>

    <h1>Poll Questions</h1>
    <ul>
        {% for question in questions %}
            <li>
                {% if question.total_votes >= 50 %}
                (🔥 Hot)
                {% elif question.total_votes >= 10 %}
                (🥰 Warm)
                {% endif %}
                <a href="{% url 'polls:detail' question.id %}" value="{{ question.total_votes }}">
                    {{ question.question_text }}
                </a>

                <!-- ปุ่ม Reset Votes ถัดจากคำถาม -->
                <form action="{% url 'polls:reset_votes' question.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button>Reset Votes</button>
                </form>

            </li>
        {% endfor %}
    </ul>

</body>
</html>
